<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "Add item", item_new_path, id: "new_item_link" %>

  <div id="items">
    <%= f.fields_for :items do |ff| %>
      <%= render "item_edit", f: ff %>
    <% end %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var selected_products = {};
  $('.product').each(function(){
    select_tag = $(this);
    var num = select_tag.val();
    var num_item = select_tag.attr('id').split("_")[3];
    selected_products[num] = num_item;
  });
  $('#new_item_link').click(function(){
    $.ajax({
      url: $(this).attr('href'),
      dataType: "html",
      data: "counter=" + new Date().getTime(),
      success: function(html) {
        $('#items').append(html);
      }
    });
    return false;
  });
  $('#items').on('change', '.product', function(){
    var select_tag = $(this);
    var num = select_tag.val();
    var num_item = select_tag.attr('id').split("_")[3];
    for (product in selected_products) {
      if (selected_products[product] == num_item) delete selected_products[product];
    }
    if (num == 0) {
      $("#" + select_tag.attr('id').replace("_product_id", "_price")).val("");
    } else if (selected_products[num] != null && selected_products[num] != num_item) {
      alert("Product already selected.");
      $("#" + select_tag.attr('id').replace("_product_id", "_price")).val("");
      select_tag.val(0);
    } else {
      selected_products[num] = num_item;
      $.ajax({
        data: {
          product_id: num
        },
        dataType: 'json',
        success: function(json){
          $("#" + select_tag.attr('id').replace("_product_id", "_price")).val(json);
        },
        url: '<%= price_path %>'
      });
    }
    console.log(selected_products);
  });
  $('#items').on('click', '.remove_item_new_link', function(){
    var select_tag = $(this).parents('.item').find('.product');
    if (num != 0) {
      var num = select_tag.val();
      var num_item = select_tag.attr('id').split("_")[3];
      delete selected_products[num];
    }
    $(this).parents('.item').remove();
    console.log(selected_products);
    return false;
  });
  $('#items').on('click', '.remove_item_edit_link', function(){
    var select_tag = $(this).parents('.item').find('.product');
    if (num != 0) {
      var num = select_tag.val();
      var num_item = select_tag.attr('id').split("_")[3];
      delete selected_products[num];
    }
    $(this).parents('.item').find('.delete_item').val("true");
    $(this).parents('.item').hide();
    console.log(selected_products);
    return false;
  });
</script>
