
<div class="item">
  <h3>
    New item
    <%= link_to "×", "#", class: "remove_item_new_link" %>
  </h3>

  <div class="field">
    <%= label_tag :product_id %>
    <%= select_tag "order[items_attributes][#{params[:counter]}][product_id]", options_for_select(Product.all.collect { |p| [ p.name, p.id ] }), class: 'product', include_blank: true %>
    <%= text_field_tag "order[items_attributes][#{params[:counter]}][price]", "", readonly: true %>

    <%= label_tag :amount %>
    <%= text_field_tag "order[items_attributes][#{params[:counter]}][amount]" %>
  </div>
</div>
