
<div class="item">
  <h3>
    Edit item
    <%= link_to "×", "#", class: "remove_item_edit_link" %>
  </h3>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.select :product_id, Product.all.collect { |p| [ p.name, p.id ] }, { include_blank: true }, class: 'product' %>
    <%= f.text_field :price, readonly: true %>

    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <%= f.hidden_field :_destroy, class: "delete_item", value: "false" %>
</div>
