<h1>Orders</h1>

<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td>(<%= order.user_id %>) <%= User.find(order.user_id).name %></td>
    <td><%= order.created_at %></td>
    <td>
      <%= link_to 'Show', order, class: 'btn btn-small' %>
      <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-small' %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
